html, body {
  font-family: Roboto;
 margin: 0;
 padding: 0;
 height: 100%;
}

.container-fluid {
  display: grid;
  min-height: 100%;
  overflow: hidden
}

.conteiner {
 max-width: 1920px;
  padding: 0px 250px;
}


/* Home start */


.header {
  display: grid;
  grid-template-columns: 55px 0.5fr 1fr;
  align-items: center;
}

.name__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #445964;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  list-style: none;
}

.item_link_grey {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #445964;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 15px;
  margin-top: 220px;
}

.content {
  display: grid;
  align-self: stretch;
  justify-content: space-between;
}

.content__text_big {
font-style: normal;
font-weight: 900;
font-size: 72px;
color: #445964;
margin: 0;
}

.content__text{
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #445964;
margin: 0;
}

.button_theme_dark {
  width: 310px;
  height: 65px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #263138;
  text-align: center;
  font-style: normal;
  line-height: 65px;
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
}

.social { 
  width: 40px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  align-items: flex-end;
  gap: 8px;
  cursor: pointer;
}


/* Home end */


/* About start*/


.conteiner__about{
  max-width: 1920px;
  padding: 0px 444px;
}

.about-matheus{
  display: grid;
  grid-auto-flow: row;
  margin: 100px 0;
  align-items: center;
  align-content: center;
}

.about-matheus__photo{
  display: flex;
  justify-content: center;
}

.name__title_about{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.name__title_subtitle{
  display: flex;
  text-align: center;
  font-size: 20px;
}

.section__title {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
}

.title_black_word {
  color: #263138
}

.title_grey_word {
  color: #445964;
}


.skills-matheus__item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  margin: 90px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #445964;
}

.skills-matheus_item_row_center{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 16px;
}

.item_name_grey {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
}

/* About end  */


/* Portfolio start */

.portfolio__title-button {
  max-width: 1920px;
  padding: 0px 250px;
}

.portfolio__header{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-items: center;
  margin: 100px 0;
}

.portfolio__title {
  display: flex;
  align-items:flex-end;
  font-weight: 900;
  font-size: 64px;
}

.portfolio__text_right {
  display: flex;
  align-items:flex-end;
  width: 400px;
  padding-bottom: 9px;
  font-weight: 500;
  font-size: 24px;
  color: #445964;
}

.button_row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button__portfolio_theme_dark{
  display: flex;
  width: 170px;
  height: 65px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #263138;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #FFFFFF;
}

.button__portfolio_theme_grey{
  display: flex;
  width: 170px;
  height: 65px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #DFDFDF;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #445964;
}

.portfolio__item {
  max-width: 1920px;
  padding: 0px 444px;
  display: grid;
  margin: 90px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 30px;
}

.item_dark_grey-1 {
  width: 340px;
  height: 190px;
  background-color: #263138;
  align-self:flex-start;
  border-radius: 15px;
}

.item_dark_grey-2 {
  width: 340px;
  height: 190px;
  background-color: #263138;
  align-self:flex-end;
  border-radius: 15px;
}

.item_green_grey{
  width: 340px;
  height: 250px;
  background-color: #445964;
  border-radius: 15px;
}

.item_soft_grey-1{
  width: 340px;
  height: 190px;
  background-color: #DFDFDF;
  align-self:flex-start;
  border-radius: 15px;
}

.item_soft_grey-2 {
  width: 340px;
  height: 250px;
  background-color: #DFDFDF;
  border-radius: 15px;
}


/* Footer start  */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qotation{
  text-align: center;
  max-width: 620px;
  font-weight: 500;
  font-size: 24px;
  color: #445964;
}

span{
  font-weight: 900;
  font-size: 28px;
  color: #263138;
}

.leo{
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #263138;
}

/* Footer end  */